# Root marker for .editorconfig
root = true

# Default settings for all files
[*]
charset = utf-8                 # Use UTF-8 encoding for all files
end_of_line = lf                # Use LF for line endings
insert_final_newline = true     # Ensure every file ends with a newline
trim_trailing_whitespace = true # Remove trailing whitespace
indent_style = space            # Use spaces instead of tabs
indent_size = 2                 # Use 2 spaces for indentation

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false # Allow trailing whitespace in Markdown

# Specific settings for JSON files
[*.json]
indent_style = space
indent_size = 2

# Specific settings for YAML files
[*.yml]
indent_style = space
indent_size = 2

# Specific settings for PHP files
[*.php]
indent_style = space
indent_size = 2

# Specific settings for Blade templates
[*.blade.php]
indent_style = space
indent_size = 2

# Specific settings for JavaScript files
[*.js]
indent_style = space
indent_size = 2

# Specific settings for TypeScript files
[*.ts]
indent_style = space
indent_size = 2

# Specific settings for Vue files
[*.vue]
indent_style = space
indent_size = 2

# Specific settings for CSS files
[*.css]
indent_style = space
indent_size = 2

# Specific settings for SCSS/SASS files
[*.scss]
indent_style = space
indent_size = 2

# Specific settings for HTML files
[*.html]
indent_style = space
indent_size = 2
